<footer class="footer">
  <a href="index.html#arrowhero">
  <nav class= "containerarrow" >
    <img class="arrow" src="./assets/images/ico-arrow.svg" alt="arrow">
  </nav>
  </a>
  <div class="boxfooter">
  <ul class="list1">
    <li><a target="blank" href="https://adalab.es/" class="adalab">Articles</a></li>
    <li><a target="blank" href="https://adalab.es/" class="adalab">Books</a></li>
    <li><a target="blank" href="https://adalab.es/" class="adalab">Events</a></li>
    <li><a target="blank" href="https://adalab.es/" class="adalab">Reasons</a></li>
    <li><a target="blank" href="https://adalab.es/" class="adalab">Tips</a></li>
  </ul>
  <ul class="list2">
    <li><a target="blank" href="https://adalab.es/" class="adalab">Twitter</a></li>
    <li><a target="blank" href="https://adalab.es/" class="adalab">Instagram</a></li>
    <li><a target="blank" href="https://adalab.es/" class="adalab">Mastodon.social</a></li>
  </ul>
  <div class="copy">
    <div>&copy; 2021</div>
    <div><span>we &#128147; components</span></div>
  </div>
</div>
</footer>