.insomnia {
  height: 376px;
  padding: 30px 15px 45px 15px;
  /*display: grid;
  grid-template-rows: auto auto auto auto;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (min-width: 768px) {
    margin-left: 39px;
    margin-right: 39px;
  }
  @media all and (min-width: 1280px) {
    margin-left: 275px;
    margin-right: 275px;
  }
}
.tips {
  color: #8ccbea;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-right: 15px;
  @media all and (min-width: 1280px) {
    font-size: 16px;
  }
}
.titleinsomnia {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  @media all and (min-width: 768px) {
    font-size: 26px;
  }
  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}

.textinsomnia {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  @media all and (min-width: 1280px) {
    font-size: 20px;
  }
}

.buttongo {
  font-size: 20px;
  color: $color-orange;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 30px;
  border: solid $color-orange 2px;
  width: 76px;
  height: 45px;
  transition-delay: 1s;
  transition-property: background-color;
}

.buttongo:hover {
  background-color: black;
}
