.footer {
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  background-color: #312d62;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*@media (min-width: 768px) {
    .footer {
      flex-direction: row-reverse;
    }*/
}

.containerarrow {
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $color-white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
}
.arrow {
  width: 20, 6px;
  height: 24px;
}
.adalab {
  text-decoration: none;
  color: $color-white;
}
.list1 {
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 30px;
  line-height: 2em;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    margin-right: 39px;
  }
}
.list2 {
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.copy {
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 2em;
  @media all and (min-width: 768px) {
    margin-left: 39px;
  }
}
@media all and (min-width: 768px) {
  .boxfooter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .boxfooter {
    justify-content: space-evenly;
  }
}
