.reasons {
  background-color: #99ffff;
  padding: 0px 70px 0px 70px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reasons1,
.reasons2 {
  font-size: 18px;
  margin-bottom: 45px;
}
.reasons3 {
  font-size: 18px;
}
.buttonreasons {
  text-align: center;
}
.buttonmore {
  box-sizing: border-box;
  width: 184px;
  height: 45px;
  border-radius: 30px;
  background-color: $color-orange;
  color: $color-white;
}
